body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #FFD900;
    padding: 20px 50px;
}

header img {
    width: 100px;
}

main {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
}

main section:nth-child(1) {
    text-align: center;
    background-color: #514988;
}

main section:nth-child(1) h1 {
    color: #F3C61F;
    text-transform: uppercase;
    font-size: 52px;
    padding: 20px 0;
}

main section:nth-child(1) h2 {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

main section:nth-child(1) p {
    color: #fff;
    font-size: 20px;
    padding: 30px 0;
}

main section:nth-child(2) div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0;
}

main section:nth-child(2) div div {
    color: #514988;
    font-size: 50px;
    font-weight: 700;
}

main section:nth-child(2) h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #E33881;
    padding-bottom: 10px;
}

main section:nth-child(2) {
    text-align: center;
}

main section:nth-child(2) video {
    width: 97%;
}

footer {
    display: grid;
    grid-template-columns: 60% 40%;
}

footer div:nth-child(1) div {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div h4 {
    color: #F3C61F;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
}

footer div div img {
    width: 150px;
    padding-bottom: 20px;
}

footer div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div:nth-child(2) button {
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-color: #514988;
    padding: 34px 90px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

footer div:nth-child(2) button:hover {
    box-shadow: 0px 5px 20px #00000077;
    color: #514988;
    background-color: #fff;
}

footer div:nth-child(2) button:active {
    transform: scale(96%);
}